/* body css */
#body {
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url("../images/survey-form-background.jpeg");
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* generic css */
.margin-top-30 {
    margin-top: 30px;
}
.span-little-font-size {
    font-size: 12px;
}

/* header css */
#title{
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
}
#description {
    color: white;
    font-style: italic;
    padding: 0px 20px;
}

/* content css */
#content {
    width: 40%;
    margin: 30px auto 0;
}

/* form css */
#survey-form {
    background: rgba(27, 27, 50, 0.8);
    padding: 50px;
    text-align: left;
    border-radius: 3px;
    /* width: 80%; */
}
.label-generic {
    color: white;
    display: block;   
}
.input-generic {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 30px;
    border: 0px;
    outline: none;
}
.radion-generic {
    display: flex;
    margin: 10px 0px 5px;
}
.radion-generic label {
    margin-left: 10px;
    margin-top: 4px;
}
.textarea {
    min-height: 100px;
}
#submit {
    background: #37af65;
    border: 0px;
    height: 40px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}


/* media query css */
@media screen and (max-width: 1600px) {
    #content {
        width: 50%;
        margin: 30px auto 0;
    }
}
@media screen and (max-width: 1400px) {
    #content {
        width: 60%;
        margin: 30px auto 0;
    }
}
@media screen and (max-width: 1200px) {
    #content {
        width: 70%;
        margin: 30px auto 0;
    }
}
@media screen and (max-width: 1000px) {
    #content {
        width: 96%;
        margin: 30px auto 0;
    }
}